<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">RRHH System</a>
      <button class="menu-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <ul [class.active]="menuAbierto" class="navbar-nav">
        <li><a href="#" class="nav-link">Inicio</a></li>
        <li><a href="#" class="nav-link">Empleados</a></li>
        <li><a href="#" class="nav-link">Contacto</a></li>
      </ul>
    </div>
</nav>
