<section class="home">
    <div class="empresa">
      <h1>{{ empresa.nombre }}</h1>
      <p>{{ empresa.descripcion }}</p>
      <h3>Visión</h3>
      <p>{{ empresa.vision }}</p>
      <h3>Misión</h3>
      <p>{{ empresa.mision }}</p>
    </div>
  
    <div class="contacto">
      <h2>Contacto</h2>
      <p>Email: <a href="mailto:{{ contacto.email }}">{{ contacto.email }}</a></p>
      <p>Teléfono: <a href="tel:{{ contacto.telefono }}">{{ contacto.telefono }}</a></p>
      <p>Dirección: {{ contacto.direccion }}</p>
    </div>
</section>
  
